@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes explode {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  20% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes explode {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
  20% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

ul.schedule-list li {
  -webkit-animation: fadeIn 0.3s ease-out;
  animation: fadeIn 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0; }
  ul.schedule-list li:nth-of-type(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  ul.schedule-list li:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  ul.schedule-list li:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  ul.schedule-list li:nth-of-type(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  ul.schedule-list li:nth-of-type(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }

ul.post-grid li {
  -webkit-animation: fadeIn 0.3s ease-out;
  animation: fadeIn 0.3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0; }
  ul.post-grid li:nth-of-type(2) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
  ul.post-grid li:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
  ul.post-grid li:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  ul.post-grid li:nth-of-type(5) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
  ul.post-grid li:nth-of-type(6) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
  ul.post-grid li:nth-of-type(7) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s; }
  ul.post-grid li:nth-of-type(8) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s; }
  ul.post-grid li:nth-of-type(9) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s; }
  ul.post-grid li:nth-of-type(10) {
    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s; }
  ul.post-grid li:nth-of-type(11) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s; }

main.single.ng-enter, main.schedule.ng-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 99999 !important; }

main.single.ng-enter-active, main.schedule.ng-enter-active {
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  z-index: 99999 !important; }

main.single.ng-leave, main.schedule.ng-leave {
  -webkit-transform: translate3d(0%, 0px, 0px);
  transform: translate3d(0%, 0px, 0px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 30; }

main.single.ng-leave-active, main.schedule.ng-leave-active {
  -webkit-transform: translate3d(100%, 0px, 0px);
  transform: translate3d(100%, 0px, 0px);
  z-index: 30; }
